

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Sawarabi Mincho';		
	background-image:url(../images/back.jpg);
	color: rgb(27, 27, 27);
}

#header{
	position:fixed;
	width: 100%;
	z-index: 1000;
	text-align:center;
	padding-top:10px;
	height:80px;	
	background-color:whitesmoke;
	/* border-bottom:solid 1px slategray; */
	box-shadow: 0 10px 25px 0 rgba(155, 155, 155, 0.5);
	
}
.title{
	float: left;
	margin-top: 10px;
	margin-left: 150px;
	font-size: 30px;
}
.title a{
	text-decoration-line: none;
	color: rgb(51, 51, 51);
}
.title a:hover{
	color: rgb(99, 99, 99);
}

.navi ul{
	text-align: center;
	margin-left:550px;
	margin-top: 35px;
	width: 700px;
	overflow: hidden;
	list-style: none;
}
.navi li{
	float: left;
	width:200px;
	height: 30px;
	text-align: center;
	margin-right: 10px;
	padding-top: 5px;
	background-color: rgb(81, 100, 124);
}
.navi a{
	text-decoration: none;
	color: white;
}

.navi li:hover{
	background-color: rgb(144, 150, 158);
}
.navi a:hover{
	color: white;
}

footer{
	text-align:center;
	height:40px;	
	background-color:whitesmoke;
}
footer p{
	padding-top: 10px;
	font-size: 13px;
}
a{
	text-decoration-line: underline;
	text-decoration-style: dotted;
	color: rgb(88, 131, 197);
	font-weight: bold;
}
a:hover{
	text-decoration-line: none;
	color: rgb(199, 208, 221);
}





main{
	z-index: 1;
	margin:auto;
	width:70%;
	padding:50px;
	background-color: white;

}

.index{
	height: 700px;
}
.pagetitle{
	font-size: 23px;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 100px;
}
.naiyou1{
	margin-left:150px;
	width:650px;
	margin-bottom:80px;
	overflow: hidden;
}
span{
	font-size: 17px;
}
.list{
	width: 150px;
	padding: 20px;
	margin-top: 80px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	border: solid 1px rgb(194, 194, 194);
	border-radius: 25px;

}
dd{
	margin-left: 20px;
	padding-bottom: 20px;
}
.dltitle{
	border-left: solid 5px rgb(81, 100, 124);
	border-bottom: solid 1px rgb(81, 100, 124);
}
#myname{
	font-size:20px;
	margin-bottom: 10px;
}
h2{
	font-weight:normal;
}
td{
	padding:20px;
}
#ME{
	float:right;
	margin-top:-140px;
	margin-left:80px;
	box-shadow: 0 10px 25px 0 rgba(155, 155, 155, 0.5);
}
#ME img{
	vertical-align:top;
}
#line{
	margin-bottom: 60px;
}
.koumoku{
	margin-bottom: 60px;
}
.naiyou{
	width: 300px;
	margin-left: 60px;
}
.naiyou dl{
	font-size: 20px;
	margin-bottom: 30px;
}
.koumoku .imglist{
	list-style: none;
	text-align: center;
	margin-right: 0px;
	margin-top: -250px;
}
.imglist img{
	width: 30%;
}
.imglist #floatimg img{
	float: right;
	margin-top: -360px;
}
.koumoku2 .imglist{
	list-style: none;
	text-align: center;
	margin-top: -80px;
}
.koumoku2 #floatimg{
	margin-top: 80px;
}


.formmenu{
	text-align: right;
}
table{
	width:800px;
	margin:auto;
	border-collapse: separate; 
	border-spacing: 10px 40px;
}


th{
	height: 40px;
	border: solid 1px rgb(197, 197, 197);
}
#koumoku1{
	background-color: rgb(240, 232, 217);
}
#koumoku2{
	background-color: rgb(240, 220, 217);
}
#koumoku3{
	background-color: rgb(217, 240, 239);
}
#tdimg1{
	background-image: url("../images/katsumeshi.png");
}
#tdimg2{
	background-image: url("../images/meshi01.png");
}
#tdimg3{
	background-image: url("../images/meshi02.png");
}
#tdimg4{
	background-image: url("../images/meshi03.png");
}